td {
            text-align: center;
            border: 2px solid gray;
            border-radius: 5px;
     }

div.display table{
    border-bottom:0px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

div.buttons tr :hover {
 	background-color: lightgray;
 }

input#txtAns {
                width: 100%;
                height: 40px;
                font-size: 30px;
                direction: rtl;
        } 